@page "/Libros/Create"
@inject LibrosService librosService
@inject GenerosService generosService
@inject NavigationManager navigate
@rendermode InteractiveServer

<PageTitle>Crear Libro</PageTitle>

<EditForm Model="libro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <div class="card-title">Crear Nuevo Libro</div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Título</strong></label>
                        <InputText class="form-control" @bind-value="libro.Titulo"></InputText>
                        <ValidationMessage For="() => libro.Titulo" />
                    </div>

                    <div class="col-3">
                        <label class="form-label"><strong>Autor(es)</strong></label>
                        <InputText class="form-control" @bind-value="libro.Autores"></InputText>
                        <ValidationMessage For="() => libro.Autores" />
                    </div>

                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Descripción</strong></label>
                        <InputTextArea class="form-control" @bind-value="libro.Descripcion"></InputTextArea>
                        <ValidationMessage For="() => libro.Descripcion" />
                    </div>

                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Fecha de Publicación</strong></label>
                        <InputDate class="form-control" @bind-value="libro.FechaPublicacion"></InputDate>
                        <ValidationMessage For="() => libro.FechaPublicacion" />
                    </div>

                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Género</strong></label>
                        <InputSelect class="form-select" @bind-value="libro.GeneroId">
                            <option value="0">Seleccione un Género</option>
                            @foreach (var genero in ListaGeneros)
                            {
                                <option value="@genero.GeneroId">@genero.TipoGeneros</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => libro.GeneroId" />
                    </div>

                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Imagen</strong></label>
                        <InputText class="form-control" @bind-value="libro.ImagenUrl"></InputText>
                        <ValidationMessage For="() => libro.ImagenUrl"/>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <a href="/Libros/Index" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
                <button type="submit" class="bi bi-floppy btn btn-outline-success">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Libros libro { get; set; } = new Libros();
    public List<Generos> ListaGeneros { get; set; } = new List<Generos>();

    protected override async Task OnInitializedAsync()
    {
        ListaGeneros = await generosService.Listar(o => o.GeneroId > 0);
    }

    public async Task Guardar()
    {
        var resultado = await librosService.Guardar(libro);
            navigate.NavigateTo("/Libros/Index");
    }
}