 @page "/"
@inject NavigationManager Navigation

<PageTitle>WhatABook</PageTitle>

<div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="search-bar">
            <input type="text" class="form-control" placeholder="Buscar libros...">
            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>
        </div>
        <a href="/Account/Login" class="btn custom-login-btn">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>


        <a href="/admin" class="btn btn-secondary">
            <i class="bi bi-person-shield"></i> Admin Panel
        </a>
    </div>

    <div class="container mt-5">
        <div class="category-section">
            <h2 class="category-title">
                Fantas&iacute;a
            </h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros de Fantasia-->
                <div class="col">
                    <div class="book-card">
                        <img src="https://pekeleke.es/wp-content/uploads/2020/11/harry-potter-piedra-filosofal-minalima-portada.jpg" class="book-img" alt="Harry Potter">
                        <div class="book-info">
                            <a href="/BookDetails/@("Harry Potter")" class="book-title-link">
                                <h5>Harry Potter</h5>
                            </a>
                            <p>$19.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.jPKl0ooFbgYAhrboBbkE9AHaLg?rs=1&pid=ImgDetMain" class="book-img" alt="The Hobbit">
                        <div class="book-info">
                            <a href="/BookDetails/@("The Hobbit")" class="book-title-link">
                                <h5>The Hobbit</h5>
                            </a>
                            <p>$15.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.0b4221eb723fcb6c0c674461db0efa16?rik=ft1JAY3eC9ZRkA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-RfUNZ7b0q3k%2fUCLTqtxK3GI%2fAAAAAAAAAPE%2f9XWUkIdHWNg%2fs1600%2fjuego%2bde%2btronos.jpg&ehk=GpWlqEfaUjZ4grLVswNto8z9LTHB7HFD1CSGKHZJykM%3d&risl=&pid=ImgRaw&r=0" class="book-img" alt="Juego De Tronos">
                        <div class="book-info">
                            <a href="/BookDetails/@("Juego De Tronos")" class="book-title-link">
                                <h5>Juego De Tronos</h5>
                            </a>
                            <p>$12.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.4fc6911504394a9e7837225606158df0?rik=9iphpMyt0woGZQ&pid=ImgRaw&r=0" class="book-img" alt="La Rueda Del Tiempo">
                        <div class="book-info">
                            <a href="/BookDetails/@("La Rueda Del Tiempo")" class="book-title-link">
                                <h5>La Rueda Del Tiempo</h5>
                            </a>
                            <p>$14.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.XnBjus1SHsYwZeuRtsC5NgHaLZ?rs=1&pid=ImgDetMain" class="book-img" alt="Pride and Prejudice">
                        <div class="book-info">
                            <a href="/BookDetails/@("El Señor De Los Anillos")" class="book-title-link">
                                <h5>El Señor De Los Anillos</h5>
                            </a>
                            <p>$11.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.ae0744397ef02d50a9608b8f8ae75c04?rik=QWx0lWzWLw9mjg&pid=ImgRaw&r=0" class="book-img" alt="Moby Dick">
                        <div class="book-info">
                            <a href="/BookDetails/@("Moby Dick")" class="book-title-link">
                                <h5>Moby Dick</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-section">
            <h2 class="category-title">Romance</h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros de Romance -->
                <div class="col">
                    <div class="book-card">
                        <img src="https://imagessl2.casadellibro.com/a/l/t0/82/9788415618782.jpg" class="book-img" alt="Orgullo y Prejuicio">
                        <div class="book-info">
                            <a href="/BookDetails/@("Orgullo y Prejuicio")" class="book-title-link">
                                <h5>Orgullo y Prejuicio</h5>
                            </a>
                            <p>$13.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://cdn.agapea.com//Roca-Bolsillo/El-cuaderno-de-Noah-i6n17397244.jpg" class="book-img" alt="El Cuaderno De Noah">
                        <div class="book-info">
                            <a href="/BookDetails/@("El Cuaderno de Noah")" class="book-title-link">
                                <h5>El Cuaderno de Noah</h5>
                            </a>
                            <p>$17.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.mcOb4qfvil1pVTB1KDGG6wHaLQ?rs=1&pid=ImgDetMain" class="book-img" alt="Bajo La Misma Estrella">
                        <div class="book-info">
                            <a href="/BookDetails/@("Bajo La Misma Estrella")" class="book-title-link">
                                <h5>Bajo La Misma Estrella</h5>
                            </a>
                            <p>$18.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.HxY7KwxNhXzvkQfYRA1ypgHaLW?rs=1&pid=ImgDetMain" class="book-img" alt="Jane Eyre">
                        <div class="book-info">
                            <a href="/BookDetails/@("Jane Eyre")" class="book-title-link">
                                <h5>Jane Eyre</h5>
                            </a>
                            <p>$21.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.bb3207b79739d59e18e9402f326d526b?rik=ZKbwFgIay6HFkQ&pid=ImgRaw&r=0" class="book-img" alt="Yo Antes De Ti">
                        <div class="book-info">
                            <a href="/BookDetails/@("Yo Antes De Ti")" class="book-title-link">
                                <h5>Yo Antes De Ti</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.lUANBwGuLKqnXAxth2HSFwHaLN?rs=1&pid=ImgDetMain" class="book-img" alt="Eleanor y Park">
                        <div class="book-info">
                            <a href="/BookDetails/@("Eleanor y Park")" class="book-title-link">
                                <h5>Eleanor y Park</h5>
                            </a>
                            <p>$22.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="category-section">
            <h2 class="category-title">Terror</h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros de Terror -->
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.4JW3kH3clatCREQE-MiZ-AHaLb?rs=1&pid=ImgDetMain" class="book-img" alt="Cementerio De Animales">
                        <div class="book-info">
                            <a href="/BookDetails/@("Cementerio De Animales")" class="book-title-link">
                                <h5>Cementerio De Animales</h5>
                            </a>
                            <p>$13.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.5f2f527bd7ded7c0d1f33a66666351a0?rik=m6KW86yuleyIbg&pid=ImgRaw&r=0" class="book-img" alt="El Exorcista">
                        <div class="book-info">
                            <a href="/BookDetails/@("El Exorcista")" class="book-title-link">
                                <h5>El Exorcista</h5>
                            </a>
                            <p>$17.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.tLgDw3d3WSwNuX9jYqNQxwHaKG?rs=1&pid=ImgDetMain" class="book-img" alt="Dracula">
                        <div class="book-info">
                            <a href="/BookDetails/@("Dracula")" class="book-title-link">
                                <h5>Dracula</h5>
                            </a>
                            <p>$18.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.Vm_Uj2bROdCGnmhGUh0oRQHaLb?rs=1&pid=ImgDetMain" class="book-img" alt="La Casa Infernal">
                        <div class="book-info">
                            <a href="/BookDetails/@("La Casa Infernal")" class="book-title-link">
                                <h5>La Casa Infernal</h5>
                            </a>
                            <p>$21.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.rI9REi9gAubz7uKIyQ6FcQHaLH?rs=1&pid=ImgDetMain" class="book-img" alt="Frankenstein">
                        <div class="book-info">
                            <a href="/BookDetails/@("Frankenstein")" class="book-title-link">
                                <h5>Frankenstein</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.42b7ab9efbdf90649d9c7ed71cc89404?rik=uRhQgKC1YZU6Mg&pid=ImgRaw&r=0" class="book-img" alt="El Resplandor">
                        <div class="book-info">
                            <a href="/BookDetails/@("El Resplandor")" class="book-title-link">
                                <h5>El Resplandor</h5>
                            </a>
                            <p>$22.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="category-section">
            <h2 class="category-title">
                Ciencia Ficci&oacute;n
            </h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros de Ciencia Ficcion -->
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.9e72371e420c20bc6cbcda90a42d97d6?rik=u7MeK5iE4iaNKw&pid=ImgRaw&r=0" class="book-img" alt="Dune">
                        <div class="book-info">
                            <a href="/BookDetails/@("Dune")" class="book-title-link">
                                <h5>Dune</h5>
                            </a>
                            <p>$13.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.25712f0021e5fa3520661555bcaa1c3e?rik=fYmPLmaA3HXp4g&pid=ImgRaw&r=0" class="book-img" alt="Neuromante">
                        <div class="book-info">
                            <a href="/BookDetails/@("Neuromante")" class="book-title-link">
                                <h5>Neuromante</h5>
                            </a>
                            <p>$17.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.8bTpGDLEYVpDlV8tD10XlQAAAA?rs=1&pid=ImgDetMain" class="book-img" alt="1984">
                        <div class="book-info">
                            <a href="/BookDetails/@("1984")" class="book-title-link">
                                <h5>1984</h5>
                            </a>
                            <p>$18.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.f9416b31769365587404e451a2d69410?rik=YFw6NiB0v5872Q&riu=http%3a%2f%2fwww.librosyliteratura.es%2fwp-content%2fuploads%2f2017%2f05%2fel-juego-de-ender.jpg&ehk=UBu6yTWZ1gBf6YNeNVPA%2fba0pwEyhCIl8cgZDXzseE4%3d&risl=&pid=ImgRaw&r=0" class="book-img" alt="El Juego de Ender">
                        <div class="book-info">
                            <a href="/BookDetails/@("El Juego de Ender")" class="book-title-link">
                                <h5>El Juego de Ender</h5>
                            </a>
                            <p>$21.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.AVA4BAL083IokW_NjQe3EwHaLW?rs=1&pid=ImgDetMain" class="book-img" alt="La Guerra de los Mundos">
                        <div class="book-info">
                            <a href="/BookDetails/@("La Guerra de los Mundos")" class="book-title-link">
                                <h5>La Guerra de los Mundos</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.3e76c2fc5a3f9ea5afbdd34ba1ec2e90?rik=%2fnL43hQ9hH70SA&pid=ImgRaw&r=0" class="book-img" alt="Fahrenheit 451">
                        <div class="book-info">
                            <a href="/BookDetails/@("Fahrenheit 451")" class="book-title-link">
                                <h5>Fahrenheit 451</h5>
                            </a>
                            <p>$22.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="category-section">
            <h2 class="category-title">
                Clasicos
            </h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros Clasicos -->
                <div class="col">
                    <div class="book-card">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_992079-MLM47037519198_082021-F.jpg" class="book-img" alt="Matar a un ruiseñor">
                        <div class="book-info">
                            <a href="/BookDetails/@("Matar A Un Ruiseñor ")" class="book-title-link">
                                <h5>Matar A Un Ruiseñor</h5>
                            </a>
                            <p>$13.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.95e74b9ee1dc63d99f7733da2794dd33?rik=p8GxjyH6%2f1qj7Q&pid=ImgRaw&r=0" class="book-img" alt="Cien años de soledad">
                        <div class="book-info">
                            <a href="/BookDetails/@("Cien Años de Soledad")" class="book-title-link">
                                <h5>Cien años de Soledad</h5>
                            </a>
                            <p>$17.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.aed382fd7f8f407a700e14fb7af4494e?rik=rJtwFZAOOWdDnw&pid=ImgRaw&r=0" class="book-img" alt="Crimen y Castigo">
                        <div class="book-info">
                            <a href="/BookDetails/@("Crimen y Castigo")" class="book-title-link">
                                <h5>Crimen y Castigo</h5>
                            </a>
                            <p>$18.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.p2Qht0iMCaSgQb3wbzHukAHaKN?rs=1&pid=ImgDetMain" class="book-img" alt="Don Quijote de la Mancha">
                        <div class="book-info">
                            <a href="/BookDetails/@("Don Quijote de la Mancha")" class="book-title-link">
                                <h5>Don Quijote de la Mancha</h5>
                            </a>
                            <p>$21.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.YAVUrxt62F3Xp01B69NQXgHaLg?rs=1&pid=ImgDetMain" class="book-img" alt="Grandes Esperanzas">
                        <div class="book-info">
                            <a href="/BookDetails/@("Grandes Esperanzas")" class="book-title-link">
                                <h5>Grandes Esperanzas</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.2oe4TwX7wRZ3vleRzEQEKwHaLH?rs=1&pid=ImgDetMain" class="book-img" alt="Madame Bovary">
                        <div class="book-info">
                            <a href="/BookDetails/@("Madame Bovary")" class="book-title-link">
                                <h5>Madame Bovary</h5>
                            </a>
                            <p>$22.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="category-section">
            <h2 class="category-title">
                Aventura
            </h2>
            <div class="row row-cols-1 row-cols-md-6">
                <!-- Libros de Aventura-->
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.b4cb627f241b11cb229672fcd905aff3?rik=tYKc8LJ2JyZ%2fMg&pid=ImgRaw&r=0" class="book-img" alt="La isla del tesoro">
                        <div class="book-info">
                            <a href="/BookDetails/@("La isla del Tesoro")" class="book-title-link">
                                <h5>La isla del tesoro</h5>
                            </a>
                            <p>$13.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.zDnmWcvxOm7bw91O2qG3rwAAAA?rs=1&pid=ImgDetMain" class="book-img" alt="Robinson Crusoe">
                        <div class="book-info">
                            <a href="/BookDetails/@("Robinson Crusoe")" class="book-title-link">
                                <h5>Robinson Crusoe</h5>
                            </a>
                            <p>$17.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.i0iXUeJh1-OXFHbArBn4AQHaLO?rs=1&pid=ImgDetMain" class="book-img" alt="El conde de Montecristo">
                        <div class="book-info">
                            <a href="/BookDetails/@("El conde de Montecristo")" class="book-title-link">
                                <h5>El conde de Montecristo</h5>
                            </a>
                            <p>$18.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.8d92f173b54dbdf2622d2c90a5176e59?rik=S1bhO%2bggUMt%2f1w&pid=ImgRaw&r=0" class="book-img" alt="Las minas del rey Salomón">
                        <div class="book-info">
                            <a href="/BookDetails/@("Las minas del Rey Salomon")" class="book-title-link">
                                <h5>Las minas del Rey Salomón</h5>
                            </a>
                            <p>$21.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/OIP.McSkhYJ_1gHdZKWnbKw4PAHaLu?w=600&h=950&rs=1&pid=ImgDetMain" class="book-img" alt="Veinte mil leguas de viaje submarino">
                        <div class="book-info">
                            <a href="/BookDetails/@("Veinte Mil Leguas de Viaje Submarino")" class="book-title-link">
                                <h5>Veinte Mil Leguas de Viaje Submarino</h5>
                            </a>
                            <p>$16.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card">
                        <img src="https://th.bing.com/th/id/R.f0ef86d34cf1750499af8ced2ef6886b?rik=Z4P9%2fkT%2fecmneA&pid=ImgRaw&r=0" class="book-img" alt="Los tres mosqueteros">
                        <div class="book-info">
                            <a href="/BookDetails/@("Los Tres Mosqueteros")" class="book-title-link">
                                <h5>Los Tres Mosqueteros</h5>
                            </a>
                            <p>$22.99</p>
                            <button class="btn btn-cart"><i class="bi bi-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<style>
    .custom-login-btn {
        background-color: #81D4FA;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px 20px;
        border: none;
        transition: background-color 0.3s;
    }

        .custom-login-btn:hover {
            background-color: #17577e;
        }

    .search-bar {
        position: relative;
        width: 60%;
    }

        .search-bar input {
            border-radius: 50px;
            padding-left: 40px;
        }

        .search-bar .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #FFC107;
        }

    .book-card {
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    }

        .book-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }

    .book-img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
    }

    .book-info h5 {
        font-size: 16px;
        margin-top: 10px;
        color: #333;
    }

    .book-info p {
        font-size: 14px;
        color: ;

    }

    .book-title-link {
        text-decoration: none;
        color: #333;
    }

    .book-title-link:hover {
         text-decoration: underline;
          color: #007bff;
    }

    .btn-cart {
        background-color: #3267fc;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-cart:hover {
            background-color: #31a8f1;
        }

    .category-section {
        margin-bottom: 40px;
    }

    .category-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    .row-cols-md-6 > .col {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
</style> 